@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}


:root {
    --primary: #AA71FF;
    --primary-hover: #8C3EFF;
    --primary-clicked: #C8A4FF;
    --secondary: #FCA7E4;
    --secondary-hover: #FA65D0;
    --secondary-clicked: #FEE9F8;
    --green: #62D26F;
    --yellow: #FFDD2B;
    --orange: #FD612C;
    --blue: #7A71F6;
    --red: #E8384F;
    --text-dark-primary: #151918;
    --text-dark-secondary: #535856;
    /*2c3432*/
    --text-light-primary: #fcfcfc;
    --text-light-secondary: #d7dddc;
    --grey-primary: #8d9f9b;
    --grey-light: #a9b6b3;
    --grey-dark: #4b5956;
    --bg-dark-primary: #05000b;
    --bg-dark-secondary: #19003e;
    --bg-light-primary: #fbf9ff;
    --bg-light-secondary: #f5f1fa;
    /* old variant f1e8ff*/

    --transition: all 500ms ease-in-out;
    --shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

body {
    background-color: var(--bg-light-primary);
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;

}

h1,
h2,
h3,
h4,
h5,
h5 {
    color: var(--text-dark-secondary);
    line-height: 1.2;
}

h1 {
    font-size: 3.4rem; /*was 3.6*/
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 0.86rem;
}

p {
    line-height: 1.8;
    color: var(--text-dark-secondary);
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 10rem 0 7rem;
    /* TODO space between sections*/
    max-width: 100vw;
    overflow-x: hidden;
}

section h1 {
    text-align: center;
    display: block;
    margin-bottom: 5rem;
}

img {
    width: 100%;
}

.btn {
    padding: 1.2rem 3rem;
    font-size: 1.1rem;
    color: var(--text-dark-secondary);
    background: var(--primary);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);
    border-radius: 8px;
    border: 1px solid var(--primary-hover);
    transition: var(--transition);
    box-shadow: var(--shadow);
    white-space: nowrap;
    font-weight: 700;
}

.btn:hover {
    padding: 1.2rem 3rem;
    color: var(--primary-hover);
    background: var(--bg-light-primary);
}

.btn-primary {
    background: var(--primary);
    color: var(--text-light-primary);
}

/* *************** NAVBAR ******************** */
nav {
    width: 100%;
    box-shadow: var(--shadow);
    height: 5rem;
    background: var(--bg-light-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    /*  border-bottom: 1px solid var(--primary);*/
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav button {
    display: none;
}

nav h3 {
    color: var(--primary);
}

nav .container ul {
    display: flex;
    height: 100%;
}

nav .container ul li a {
    height: 100%;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-dark-secondary);
    position: relative;
    transition: var(--transition);
}

nav .container ul li a:hover {
    color: var(--primary-hover);
}

nav .container ul li a.active {
    background: var(--primary);
    color: var(--text-light-primary);
    font-weight: 700;
    border-radius: 8px;
    height: 80%;
    margin-top: 8px;
}


/* *************** HERO ******************** */
section.landing {
    display: grid;
    place-items: center;
    position: relative;
    top: 5rem;
    padding-bottom: 14rem;
}

section.landing .container {
    display: grid;
    grid-template-columns: 5rem auto 26rem;
    gap: 2rem;
}

section.landing .socials {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
}

section.landing .socials a {
    background: var(--primary);
    padding: 0.3rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light-primary);
    font-weight: 700;
    font-size: 1.5rem;
    transition: var(--transition);
}

section.landing .socials a:hover {
    background: transparent;
    color: var(--primary-hover);
}


section.landing .info h1 {
    text-align: left;
    margin: 0;
}

section.landing .info h3 {
    margin: 2.4rem 0 1rem;
}

section.landing .info p {
    width: 35rem; /* TODO resize this to fit*/
}

section.landing .profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.landing .profile-area .outer-circle {
    width: 26rem;
    height: 26rem;
    border: 2px solid var(--primary);
    border-radius: 50%;
    position: relative;
    animation: move 30s linear infinite;
}

@keyframes move {
    to {
        transform: rotate(360deg);
    }
}

section.landing .profile-area .outer-circle span {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    color: var(--primary);
    font-size: 2.6rem;
    background: var(--bg-light-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
}

section.landing .profile-area .outer-circle span:nth-child(1) {
    left: calc(50% - 2rem);
    top: -2rem;
}

section.landing .profile-area .outer-circle span:nth-child(2) {
    right: -2rem;
    top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(3) {
    left: -2rem;
    top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(4) {
    left: calc(50% - 2rem);
    bottom: -2rem;
}

section.landing .profile-area .inner-circle {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
}


/* *************** ABOUT ******************** */
section.about {
    background: var(--bg-light-secondary);
    /* not needed*/
}

section.about .container {
    display: grid;
    grid-template-columns: 26rem auto;
    gap: 5rem;
}

section.about p {
    margin-bottom: 1rem;
    /*margin-top: 1.5rem; to be in the middle*/
    margin-top: -0.5rem
}

section.about .container .read-more-content {
    display: none;
}

section.about .container .read-more {
    display: block;
    margin: 1rem 0 2rem;
    color: var(--primary);
    font-weight: 700;
    cursor: pointer;
}

section.about .container .read-more:hover {
    text-decoration: underline;
}


/* *************** SKILLS ******************** */
section.skills .container {
    width: 50%;
}

section.skills .skill {
    margin-bottom: 1rem;
}

section.skills .skill .head {
    background: var(--primary);
    color: var(--text-light-primary);
    font-weight: 700;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    cursor: pointer;
}

section.skills .skill .head h4 {
    color: var(--text-light-primary);
}

section.skills .skill .head .left {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


section.skills .items {
    width: 98%;   
    margin:0 auto 2rem auto;
    /* important- this is the gap between dropdown menuitems*/
}

section.skills .skill .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1.6rem;
    background: var(--bg-light-secondary);
}

section.skills .skill .item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

section.skills .items .item h4 {
    color: var(--primary-hover);
}

section.skills .skill .progress-area {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.skills .item .progress-bar {
    width: 100%;
    height: 1rem;
    background: var(--primary-clicked);
}

section.skills .item .progress-bar .progress {
    height: 100%;
    width: 92%;
    background: var(--primary);
}

section.skills .item:nth-child(2) .progress-bar .progress {
    width: 85%;
}

section.skills .item:nth-child(3) .progress-bar .progress {
    width: 75%;
}

section.skills .item.two:nth-child(1) .progress-bar .progress {
    width: 90%;
}

section.skills .item.two:nth-child(2) .progress-bar .progress {
    width: 90%;
}

section.skills .item.two:nth-child(3) .progress-bar .progress {
    width: 70%;
}

section.skills .item.three:nth-child(1) .progress-bar .progress {
    width: 90%;
}

section.skills .item.three:nth-child(2) .progress-bar .progress {
    width: 72%;
}

section.skills .item.three:nth-child(3) .progress-bar .progress {
    width: 70%;
}

section.skills .item.four:nth-child(1) .progress-bar .progress {
    width: 95%;
}

section.skills .item.four:nth-child(2) .progress-bar .progress {
    width: 82%;
}

section.skills .item.four:nth-child(3) .progress-bar .progress {
    width: 96%;
}


/* *************** SERVICES ******************** */
section.services {
    background: var(--bg-light-secondary);
}

section.services .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;  
}

section.services .container .service{
    background: var(--bg-light-primary);
    padding: 3rem 2rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    cursor: default;
    transition: var(--transition);
    border-radius: 8px;
}

section.services .container .service:hover{
    box-shadow: var(--shadow);
}

section.services .container .service span{
    color: var(--primary);
    font-size: 2.5rem;
   /*width: 4rem;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-light-primary);
    background-color: var(--primary); or --red */
}

/*
section.services .container .service:nth-child(2) span{
    background: var(--green);
}

section.services .container .service:nth-child(3) span{
    background: var(--yellow);
}*/


/* *************** PORTFOLIO ******************** */
section.recent-work h1{
    text-align: center; /* left only in mobile view*/
    margin: 3rem 0 5rem 0; /* former margin bottom 1rem*/
   /* width:65%;*/
}

section.recent-work .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

section.recent-work .projects .project{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.recent-work .projects .project .action{
    display: flex;
    gap: 2rem;
   /* justify-content: space-between;*/
}

section.recent-work .projects .project a{
    color: var(--primary);
    font-weight: 700;
   /*
   color: var(--text-light-primary);
    background: var(--primary);
    border-radius: 8px;
    width: 5rem;
    height: 3rem;
    text-align: center;
    padding: 1rem;*/
}

section.recent-work .projects .project a:hover{
    text-decoration: underline;
}


/* *************** TESTIMONIALS ******************** */
section.testimonials{
    background: var(--bg-light-secondary);
}

section.testimonials .container{
    width: 44rem;
}

section.testimonials .carusel{
    display: flex;
    align-items: center;
}

section.testimonials .testimonial{
    background: var(--bg-light-primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

section.testimonials .testimonial .head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

section.testimonials .testimonial .head .profile-area{
    display: flex;
    gap: 1rem;
}

section.testimonials .testimonial .head .profile-area .avatar{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

section.testimonials .testimonial .head .stars{
    color: var(--primary);
}

section.testimonials .testimonial .head .stars span{
    font-size: 1.2rem;
}

/* *************** CONTACTS ******************** */
section.contact{
    background: url('./assets/bg1.png') no-repeat center center/cover;
    padding: 0;
    max-width: 100vw;
}

section.contact .overlay{
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.7);
    padding: 10rem 0 7rem;
}

section.contact .container{
    width: 40%;
}

section.contact .container h1{
    margin: 0;
    color: var(--text-light-primary);
}

section.contact .container p{
    text-align: center;
    color: var(--text-light-secondary);
    /*opacity: 0.8;*/
    margin-top: 0.5rem;
}

section.contact form{
    margin-top: 3rem;
}

section.contact form input, section.contact form textarea{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1.6rem;
    border: 1px solid  var(--bg-light-primary);
    color: var(--text-light-primary);
    background: transparent;
    transition: var(--transition);
}

section.contact form input:focus, section.contact form textarea:focus{
    background: var(--bg-light-primary);
    color: var(--text-dark-secondary);
}







/* 

border-radius: 8px;
*/

/* GRADIENTS 

primary:
background: linear-gradient(54deg, rgba(170,113,255,1) 0%, rgba(253,97,44,1) 100%);
background: linear-gradient(54deg, rgba(170,113,255,1) 0%, rgba(122,113,246,1) 100%);

background: linear-gradient(54deg, rgba(250,101,208,1) 0%, rgba(253,97,44,1) 100%);

background: radial-gradient(circle, rgba(170,113,255,1) 0%, rgba(252,167,228,1) 100%);

background: radial-gradient(circle, rgba(252,167,228,1) 0%, rgba(122,113,246,1) 100%);

*/